<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tijanidian.pmpd_playground">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMPDPlayGround">

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name="com.tijanidian.mvvm.ut2.UiActivity"
            android:exported="true" />
        <activity
            android:name="com.tijanidian.mvvm.ut2.UiTestGlovoActivity"
            android:exported="true" />
        <activity
            android:name="com.tijanidian.alerts_with_mvvm.presentation.AlertActivity"
            android:exported="true"/>
            <activity
                android:name="com.tijanidian.ex02_users_example.presentation.Ut02Ex02Activity"
                android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>